*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #f5f5dc;
}

.main-component {
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-component .inner-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-component .inner-container .add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  color: lightblue;
  border-radius: 1rem;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.main-component .inner-container .add-btn span {
  margin-left: 1rem;
}
.main-component .inner-container .contact-card {
  width: 50%;
  padding: 0.5rem 0.75rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  cursor: pointer;
}
.main-component .inner-container .contact-card .contact-name {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.75rem;
  color: lightcoral;
}
.main-component .inner-container .contact-card .contact-name .title-controls {
  display: flex;
  align-items: center;
}
.main-component .inner-container .contact-card .contact-name .title-controls button {
  background: none;
  outline: none;
  border: none;
  color: lightblue;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.main-component .inner-container .contact-card .contact-name .title-controls span {
  color: lightblue;
}
.main-component .inner-container .contact-card .contact-details {
  padding: 0rem 1.75rem;
  max-height: 0;
  overflow: hidden;
  transition: all 100ms ease-in;
}
.main-component .inner-container .contact-card .contact-details.show {
  padding: 0.5rem 2rem;
  height: auto;
  max-height: 9999px;
  transition: all 100ms ease-in;
}
.main-component .inner-container .contact-card .contact-details p {
  padding: 0.5rem;
  color: lightgray;
}
.main-component .inner-container .contact-card .contact-details p span {
  color: lavender;
}

.form-container {
  color: lightblue;
  border-radius: 1rem;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  min-width: 400px;
  max-width: 50%;
  width: 40%;
  padding: 50px 30px;
}
.form-container .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-container .input-group input[type=number]::-webkit-inner-spin-button,
.form-container .input-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.form-container .input-group label {
  color: lightcoral;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.form-container .input-group input {
  background: none;
  border: 1px solid lightblue;
  outline: none;
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem;
  border-radius: 8px;
}
.form-container .input-group input:focus {
  border: 1px solid #eee;
}
.form-container button {
  background: none;
  border: none;
  outline: none;
  border: 1px solid lightcoral;
  padding: 10px 20px;
  border-radius: 10px;
  color: #eee;
  font-size: 1.3rem;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */